html, body {
  width: 100%;
  overflow-x: hidden;
}

.wrapper {
  min-height: 100vh;
}

.sidebar {
  width: 260px;
}

.body {
  margin-left: 260px;
  overflow-x: hidden;
}

@media (max-width: 991.98px) {
  .body {
    margin-left: 0;
  }
}
.list-group-item {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.card + .card {
  margin-top: 1rem;
}
